<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856105737406-jsifhg4a6g3j4o43hcukef7lfg952fc9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856105737406-jsifhg4a6g3j4o43hcukef7lfg952fc9</string>
	<key>API_KEY</key>
	<string>AIzaSyB_MyU2QI32ZE1p2rf3O4B1A7t65TBtVWU</string>
	<key>GCM_SENDER_ID</key>
	<string>856105737406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cs50.cs50Queue</string>
	<key>PROJECT_ID</key>
	<string>cs50-queue</string>
	<key>STORAGE_BUCKET</key>
	<string>cs50-queue.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856105737406:ios:8c8baf02925c81c32292ef</string>
</dict>
</plist>